.nav-header {
  background-color: #282c34;
  line-height: 1.5em;
  font-size: calc(1em - 1vmin);
  color: white;
 };

 .font-nav {
  font-size: 2em !important ;
  line-height: .8 !important;
  margin: .5rem 0 1.424rem 0 !important;
};

/*.nav-margin{
  display: flex;
}

.nav-button {
  margin: .3em;
  font-size: 1.3em;
};



.nav-buttons {
  margin-left: 25%;
};

@media screen and (max-width: 320px) {
  .nav-button {
    margin: .3em;
    font-size: .8em;
  };
  .font-nav {
    display: flex;
    font-size: 1em;

  };
  .nav-logo {
    margin-top: 1em;
    height: 3em;
  };
  
} */