.height-c-command {
	text-align: left;
	padding: 0;
	width: 100%;
	height: 4em;
	display: flex;
	font-size: 1.2em;
}

.total {
	font-size: 1.3em;
}

.delte-item {
	margin-top: .4em;
	padding: 1px;
	height: 1.5em;
	width: 15%;
	border-radius: 50% !important;
}